body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: rgb(5, 61, 113); 
}
.container {
    background: white;
    background-image: url(img2.jpg);
    width: 46%;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid darkblue
}
h2{
    color: darkblue;
}
hr {
    border: none;
    height: 2px;
    background: darkblue;
    margin: 10px 0 20px 0;
}
p {
    line-height: 2;
    color: black;
}
.quote {
    border: 1px solid darkblue;
    background: lightcyan;
    border-left: 5px solid lightgreen;
    padding: 15px;
    margin: 25px 0;
    font-style: italic;
    color: darkblue;
    border-radius: 5px;
}
.author-box {
    display: flex;
    background: lightcyan;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid darkblue;
    margin-top: 25px;
    gap: 15px;
}
.author-box img {
    border-radius: 8px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 2px solid darkblue;
}
.author-box h3 {
    margin: 0 0 5px 0;
    color: darkblue;
}
.footer {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: lightgreen;
    color: darkblue;
    padding: 12px 20px;
    border-radius: 10px;
}
.price {
    font-weight: bold;
    font-size: 18px;
}
